PROJECT_NAME="KST BRIN API"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kst_db"
SECRET_KEY="replace_with_64_character_hex_secret_key"
ACCESS_TOKEN="replace_with_64_character_hex_access_token"
BACKEND_URL="http://127.0.0.1:8000"

